@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Typography */
  .bold-16-1 {
    @apply text-[16px]/[175%] tracking-[-1%] font-bold;
  }
  .bold-16-2 {
    @apply text-[16px]/[175%] tracking-[-2%] font-bold;
  }
  .bold-14-2 {
    @apply text-[14px]/[200%] tracking-[-2%] font-bold;
  }
  .regular-14-2 {
    @apply text-[14px]/[200%] tracking-[-2%] font-normal;
  }
}
